@using System.Numerics;
<div>
    <a href="/Yonetir/Ekle"><button type="button" class="btn btn-success">Yonetici Ekle</button></a>
</div>

<table class="table table-striped table-hover">
    <thead>
    <th>Personel T.C Numarası</th>
    <th>Departman</th>
    <th>Başlangıç Tarihi</th>
    <th>Düzenle</th>
    <th>Sil</th>
    </thead>
    <tbody>
        @foreach (var yonet in ViewBag.Yonetir as List<Yonetir>)
        {
            <tr>
                <td>@(yonet.Tcno)</td>
                <td>@(yonet.DepartmanNo)</td>
                @{
                string baslangicTarihi = yonet.YoneticiBaslangicTarihi.ToString();
                baslangicTarihi = baslangicTarihi.Substring(0, 10);
                }
                <td>@(baslangicTarihi)</td>
                <td> <a class="btn btn-warning" asp-controller="Yonetir" asp-action="Guncelle" asp-route-id="@yonet.PersonelYonetirId">Güncelle</a></td>
                <td> <a class="btn btn-danger" asp-controller="Yonetir" asp-action="Sil" asp-route-id="@yonet.PersonelYonetirId">Sil</a></td>

            </tr>
        }
    </tbody>
</table>